*{
    padding: 0;
    margin: 0;
}
.body{
    border: 10px groove greenyellow;
    background-image: url("./blue-pink-halftone-background_53876-99004.avif");
    height: 2000px;
    background-size: cover;
    background-repeat: no-repeat;
}
.flex{
    display: flex;
    width: 99%;
    margin: 20px;
}
.child{
    border: 10px solid red;
    background-color: black;
    color: white;
    border-radius: 45px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-style: italic;
}
.box1{
    width: 28%;
    line-height: 40px;
    padding: 26px 30px 30px 20px;
    height: 105px;
}
.center{
    padding-left:23px;
}
.box2{
    width: 30%;
    margin-left:-244px;
    margin-top: 12px;
    padding: 35px 0px 0px 120px;
    height: 50px;
}
.box3{
    width: 28%;
    margin-top: -5px;
    margin-left: 128px;
    line-height: 53px;
    padding-top: 14px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    height: 154px;
}
.container{
    display: flex;
    width: 100%;
}
.circle{
    background-color: teal;
    border: 8px solid grey;
    width:29%;
    height: 420px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 220px;
}
.content{
    font-style: italic;
    font-weight:bold;
    text-align: center;
    margin-top: 80px;
    font-size: 24px;
    text-decoration: underline;
}
form{
    font-size: 20px;
    width: 450px;
    height: auto;
    text-align: center;
    border: 5px dashed red;
    color:rgb(233, 116, 116);
    margin-left: 165px;
    margin-top: 60px;
    background-color: aliceblue;
}
.formhead{
    padding: 15px;
}
form ::placeholder,input{
    text-align: center;
}
form input[type="date"]{
    width: 36%;
}
.button{
    padding: 2px;
}
.menuheading{
    width: 32%;
    border-radius: 35px;
    padding: 20px 15px ;
}
.menu{
    display: flex;
    justify-content: space-around;
    padding:40px ;
}
.catagories{
    width: 27%;
    height: 260px;
    border: 3px solid green;
    border-radius: 30px;
    padding-bottom: 30px;
    background-color: aqua;
}
.catagoriesheading{
    text-align: center;
    font-size: 42px;
    padding: 20px 10px;
    color: rgb(10, 10, 151);
}
li{
    text-align: center;
    margin-left: 40px;
    font-size: 20px;
    color: rgb(10, 10, 151);
}
.last-item{
    width: 27%;
    height: 310px;
    border: 3px solid green;
    border-radius: 35px;
    padding-bottom: 30px;
    background-color: aqua;
}